
@{
    ViewBag.Title = "Copia de seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "")">Regresar</a></li>
</ul>

<div class="row">
    <div class="row">
        <!--Links-->
        <div class="col-md-7">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <p style="text-align:justify; margin:0px">
                        Con la copia de seguridad podras restaurar la informacion de la base de datos apartir de un solo archivo.
                        <br /><br />
                        <b>Nota: Esto no sustituye el metodo de importacion por lotes, la restauracion limpia toda al informacion almacenada al empezar el proceso.</b>
                    </p>
                </div>
            </div>

            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <div>
                        <h3 class="col-md-7" style="margin-top:4px; margin-bottom:0px; padding:0px;">Crear copia de seguridad</h3>
                        <a class="btn btn-default " href="@Url.Action("CreateBackup", "Tools")"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                             Descargar copia de seguridad</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    @using (Html.BeginForm("Recover", "Tools", FormMethod.Post, new { @class = "form-inline", id = "form", onsubmit = "validateSubmition()", enctype = "multipart/form-data" }))
                    {
                        <script type="text/javascript">
                            function validateSubmition() {
                                var form = document.forms["form"];
                                form["btn-submit"].disabled = true;

                                document.getElementById("progressbar").style.display = "";
                            }
                        </script>
                        <h3 style="margin-top:0px;">Restaurar datos</h3>
                        <p>
                            Importante: Al restaurar con una copia de seguridad eliminaras todos los datos ya existentes.
                            <br /><br />
                            Este proceso puede llevar hasta <b>mas de un minuto</b> al cargar todos los datos.
                        </p>
                        <div style="margin-left:16px;">
                            <!--FileBackup-->
                            <div class="form-group" style="margin-bottom:10px;">
                                <label style="width:280px;">Restaurar desde la copia de seguridad</label>
                                <input class="form-control" id="fileBackup" type="file" name="fileBackup" accept=".bak" required />
                            </div>
                            <br />
                        </div>

                        <div class="form-group" style="margin-top: 16px; width:100%">
                            <button type="submit" class="btn btn-success col-md-12" id="btn-submit"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Restaurar</button>
                        </div>

                        <div class="progress" id="progressbar" style="margin-bottom:0px; display:none">
                            <div class="progress-bar progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <b>Cargando...</b>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--SIDE PANEL-->
        <div class="col-md-5">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <a href="#glosary" data-toggle="collapse">
                    <div class="panel-heading" style="padding:16px;">
                        <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-question-sign"></span> Glosario <span class="caret"></span></h3>
                    </div>
                </a>
                <div class="panel-body collapse" id="glosary">
                    <ul>
                        <li>
                            <label>Instrucciones para crear una copia de seguridad</label>
                            <p>
                                Para crear una copia de seguridad basta con oprimir el boton de <b>Descargar copia de seguridad</b>, el mismo sistema se encargara de de empaquetar todo en un archivo
                                y lo descargara directamente en el ordenador <b>(Puede requerir la intervension del usuario).</b>
                            </p>
                        </li>

                        <li>
                            <label>Instrucciones restaurar desde una copia de seguridad</label>
                            <p>
                                Para restaurar la informacion desde una copia de seguridad es necesario cargar el archivo <b>*.bak</b> y pulsar el boton de <b>Restaurar</b>, al empezar el proceso se
                                mostrara una barra de carga que se quitara hasta que termine la restauracion
                            </p>
                            <p>
                                Al empezar la restauracion no se debera cerrar la ventana y no se debera utilizar el sistema hasta que se indique que ya haya terminado.
                            </p>
                            <p><b>IMPORTANTE: Al comenzar el proceso se realizara una eliminacion completa de toda la informacion, NO COMPLEMENTA LOS DATOS YA EXISTENTES.</b></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <!--SNACK DE ALERTAS-->
                <div class="alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Debes completar correctamente el formulario
                </div>
                <div class="alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Los cambios se han guardado correctamente
                </div>

                @if (ViewData["message"] != null)
                {
                    <script type="text/javascript">
                        retriveMessage();
                    </script>
                }
            </div>
        </div>
    </div>
</div>