
@{
    ViewBag.Title = "Importar datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "Devices")">Regresar</a></li>
</ul>

<div class="row">
    <div class="row">
        <!--Links-->
        <div class="col-md-8">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    @using (Html.BeginForm("ImportFromCSV", "Tools", FormMethod.Post, new { @class = "form-inline", id = "form", onsubmit = "return validateSubmition()", enctype = "multipart/form-data" }))
                    {
                        <script type="text/javascript">
                            function validateSubmition() {
                                var form = document.forms["form"];
                                var input1 = form["fileDevices"], input2 = form["fileComputers"], input3 = form["fileAccesories"], input4 = form["fileUsers"];
                                if (input1.value != "" || input2.value != "" || input3.value != "" || input4.value != "") {
                                    form["btn-submit"].disabled = true;
                                    return true;
                                } else {
                                    showErrorMessage(8, "No señeccionaste ningun archivo para importar... Para mas informacion revisa el glosario");
                                    return false;
                                }
                            }
                        </script>

                        <!--DeviceCollection-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:210px;">Coleccion dispositivos</label>
                            <input class="form-control" id="id" type="file" name="fileDevices" accept=".csv" value="" />
                        </div>
                        <br />

                        <!--UserCollection-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:210px;">Coleccion Usuarios</label>
                            <input class="form-control" id="id" type="file" name="fileUsers" accept=".csv" value="" />
                        </div>
                        <br />

                        <!--ComputersColecction-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:210px;">Coleccion equipos de computo</label>
                            <input class="form-control" id="id" type="file" name="fileComputers" accept=".csv" value="" />
                        </div>
                        <br />

                        <!--AccesoryColecction-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:210px;">Asignacion de Accesorios</label>
                            <input class="form-control" id="id" type="file" name="fileAccesories" accept=".csv" value="" />
                        </div>
                        <br />

                        <!--CharType-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:210px;">Simbolo delimitador</label>
                            <select class="form-control" name="charSplit" onchange="toggleType()" style="width:225px;">
                                <option value="," selected>Comma (,)</option>
                                <option value=";">Semmicolon (;)</option>
                            </select>
                        </div>
                        <br />

                        <div class="form-group" style="margin-top: 16px;">
                            <button type="submit" class="btn btn-success" id="btn-submit"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Importar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--SIDE PANEL-->
        <div class="col-md-4">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <a href="#glosary" data-toggle="collapse">
                    <div class="panel-heading" style="padding:16px;">
                        <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-question-sign"></span> Glosario <span class="caret"></span></h3>
                    </div>
                </a>
                <div class="panel-body collapse" id="glosary">
                    <ul>
                        <li>
                            <label>Numero de serie</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Tipo de dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Marca del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Modelo del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Numero de inventario</label>
                            <p>...</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <!--SNACK DE ALERTAS-->
                <div class="alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Debes completar correctamente el formulario
                </div>
                <div class="alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Los cambios se han guardado correctamente
                </div>

                @if (ViewData["message"] != null)
                {
                    <script type="text/javascript">
                        retriveMessage();
                    </script>
                }
            </div>
        </div>
    </div>
</div>